{% extends 'layout.html' %}

{% block content %}
<div class="card mt-3 bg-dark">
    <div class="formwrapper">
      <h2 class="title">New Project</h2>
      <form method="POST" action="/main/portfolio">{{ form.csrf_token }}
{#      <form method="POST" action="/main/create_project/post_project">#}
{#      <form method="POST" action="{{ url_for('main.post_project') }}" role="form">#}
          <div class="container col-centered">
              <div class="form-field">{{ form.title.label }} {{ form.title(size=20) }}</div>
              <div class="form-field">{{ form.url.label }} {{ form.url }}</div>
              <div class="form-field">{{ form.desc.label }} {{ form.desc }}</div>
              {{ form.submit }}
          </div>
      </form>
    </div>
</div>
{% endblock %}
