{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
{#    <h2>{%trans%}Edit Your Project{%endtrans%}</h2>#}

    {% from "common/form_macros.html" import render_field, render_submit_field %}


    <div class="card mt-3 bg-dark">
        <div class="container col-centered">
            <h2 class="text-white">{%trans%}Edit Your Project{%endtrans%}</h2>

            <form action="" method="POST" class="form text-white" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.title, tabindex=10) }}
                {{ render_field(form.url, tabindex=20) }}
            {#    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}#}
            {#        {{ render_field(form.retype_password, tabindex=30) }}#}
            {#    {% endif %}#}
                {{ render_field(form.desc, tabindex=90, style="min-height: 100px") }}
    {#            {{ render_field(form.desc, tabindex=90) }}#}

                {{ render_field(form.tags, tabindex=90) }}

                {{ render_submit_field(form.submit) }}
            </form>
                <a type="button" name="delete_button" method="POST" href="/main/delete_project/{{proj_id}}" value="{{ proj_id }}" class="btn text-white bg-danger mb-3 pull-left">Delete Project</a>

    {#            {{ form.submit }}#}
    {#        {{ render_submit_field(form.submit) }}#}
        </div>
    </div>

{#    #TODO: Add a delete project option!!#}

{% endblock %}