{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% from "common/form_macros.html" import render_field, render_submit_field, render_card_given_privacy_not_logged_in %}

{% block content %}
{#    <p><a href={{ url_for('user.login') }}>{%trans%}Sign in{%endtrans%}</a></p>#}
{#    <p class="text-black"><a href={{ url_for('main.home_page') }} class="text-white">{%trans%}Home Page{%endtrans%}</a> (accessible to anyone)</p>#}
{#    <p class="text-black"><a href={{ url_for('main.member_page') }} class="text-white">{%trans%}Member Page{%endtrans%}</a> (login_required: member@example.com / Password1)</p>#}
{#    <p class="text-black"><a href={{ url_for('main.admin_page') }} class="text-white">{%trans%}Admin Page{%endtrans%}</a> (roles_required: admin@example.com / Password1)</p>#}
{#    <p class="text-black"><a href={{ url_for('user.logout') }} class="text-white">{%trans%}Sign out{%endtrans%}</a></p>#}

    {% if not current_user.is_authenticated %}

        <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%; min-width: 18rem; min-height: 5rem">
            <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
                <h5 class="card-title ml-3 mr-3 mb-1 text-center">Welcome!</h5>
            </div>
            <div class="text-center card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
                <a href="{{ url_for('user.register') }}" class="btn  btn-outline-light card-title ml-3 mr-3 mb-1 text-center text-white">REGISTER</a>
                <a href="{{ url_for('user.login') }}" class="btn  btn-outline-light card-title ml-3 mr-3 mb-1 text-center text-white">SIGN IN</a>
            </div>
            <div class="card-footer text-center text-white">Demo User Login Info: member@example.com / Password1</div>
        </div>

        <div class="card text-white bg-dark mt-3 mr-3" style="width: 100%; min-width: 18rem; min-height: 5rem">
            <div class="text-center card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
                <h5 class="card-title ml-3 mr-3 mb-1 text-center">Get started exploring projects:</h5>
            </div>
            <div class="card-body" style="padding: 0;">
                <p class="card-text text-center ml-4 mr-4" style="white-space: pre-wrap;">Search for publicly listed projects based on username, first or last name, project titles, project tags, and project descriptions.</p>
            </div>
            <div class="card-footer">
                <form action="" class="form mt-0" method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.searchbar) }}
                <button type="submit" value="submit" href="{{ url_for('main.search') }}" class="btn pull-right btn-outline-light card-title ml-3 mr-3 mb-1 text-center text-white">SEARCH</button>

{#                {{ render_submit_field(form.submit) }}#}
                </form>
            </div>
        </div>




        <div class="card-group mt-3 center-block" style="max-width: max-content;">

            {% for project in projects %}
                {{ render_card_given_privacy_not_logged_in(project, project.creator, current_user) }}
            {% endfor %}

        </div>


    {% endif %}

{% endblock %}
