{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% from "common/form_macros.html" import render_card, render_card_given_privacy %}


{% block content %}
    <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%;min-width: 18rem; min-height: 5rem">
        <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
            <h5 class="card-title ml-3 mr-3 mb-1 text-center">ACADEMIC NETWORK</h5>
        </div>
        <div class="card-body" style="padding: 0;">
            <p class="card-text text-center ml-4 mr-4" style="white-space: pre-wrap;">
                Below are projects created by people you follow in your academic network on this site.
            </p>
        </div>
    </div>


    <div class="card-group mt-3 center-block" style="max-width: max-content;">

        {% for project in projects %}
            {{ render_card_given_privacy(project, project.creator, current_user) }}
        {% endfor %}
    </div>


{% endblock %}

{## Use some of the code below to load users into the network page. Change it so that they load into a card}
{## Will need to add users to the render_template statement in main_views to use this code.}
{#{% extends "layout.html" %}#}
{##}
{#{% block content %}#}
{#  {% for user in users %}#}
{#    <ul id="user.username">#}
{#      <li>Username: {{ user.username }}</li>#}
{#      <li>Email: {{ user.email }}</li>#}
{#      <li>Created: {{ user.created }}</li>#}
{#      <li>Bio: {{ user.bio }}</li>#}
{#      <li>Admin: {{ user.admin }}</li>#}
{#    </ul>#}
{#  {% endfor %}#}
{#{% endblock %}#}