{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% from "common/form_macros.html" import render_card, render_card_given_privacy %}

{% block content %}

    <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%;min-width: 18rem; min-height: 10rem">
        <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
            <h5 class="card-title ml-3 mr-3 mb-1 text-center">{{ user.first_name.upper() }} {{ user.last_name.upper() }}'S PORTFOLIO</h5>
        </div>

        <div class="card-body" style="padding: 0">
            <p class="card-text ml-4 mr-4 text-center" style="white-space: pre-wrap">{{ user.bio }}</p>
        </div>
        {% if user.id == current_user.id %}
            <div class="card-footer mt-1 mb-1" style="padding: 0">
                <div class="pull-left ml-3 mb-0 text-center">
                    <p class="mb-0">@{{ user.username }} | {{ user.email }}</p>
                </div>
                <div class="pull-right mr-3">
                    <a href="#" class="btn text-white bg-dark" style="padding: 0"> + Follow</a>
                </div>
            </div>
            <a href="{{ url_for('main.user_profile_page') }}" class='btn text-muted text-white bg-white text-center'  style="white-space: pre-wrap;padding: 0">This is a PUBLIC view of your portfolio. Click here to make changes or additions to your portfolio.</a>
        {% else %}
            <div class="card-footer mt-1 mb-1" style="padding: 0">
                <div class="pull-left ml-3 mb-0 text-center">
                    <p class="mb-0">@{{ user.username }} | {{ user.email }}</p>
                </div>
                <div class="pull-right mr-3">
    {#                <a href="#" class="btn text-white bg-dark" style="padding: 0"> + Follow</a>#}
                      {% if current_user.has_followed_user(user) %}
                        <a href="{{ url_for('main.follow_action', user_id=user.id, action='unfollow') }}" class="btn text-white" style="padding: 0">Unfollow</a>
                      {% else %}
                        <a href="{{ url_for('main.follow_action', user_id=user.id, action='follow') }}" class="btn text-white" style="padding: 0">+ Follow</a>
                      {% endif %}
                </div>
            </div>
        {% endif %}


    </div>
    <div class="card-group center-block" style="max-width: max-content;">

        {% for project in projects %}
            {{ render_card_given_privacy(project, user, current_user) }}
        {% endfor %}
    </div>


{% endblock %}