{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% from "common/form_macros.html" import render_card %}

{% block content %}
    <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%; min-height: 5rem">
        <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
            <h5 class="card-title ml-3 mr-3 mb-1 text-center">SEARCH</h5>
        </div>
        <div class="card-body" style="padding: 0;">
            <p class="card-text text-center ml-4 mr-4" style="white-space: pre-wrap;">
                Below is a list of projects related to your search.
            </p>
        </div>
    </div>

{# TODO: MAKE SURE TO ADD USERNAME TO PROJECTS TABLE via flask backref method, so can search on username too ..... OR ... See if its possible to use whooshbase on multiples tabl3s at once?#}
    <div class="card-group mt-3 center-block" style="max-width: max-content;">

        {% for project in projects %}
            {{ render_card(project, project.creator, current_user) }}
        {% endfor %}

    </div>




{% endblock %}