{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% from "common/form_macros.html" import render_card, render_field, render_submit_field, render_card_given_privacy %}

{% block content %}
    <div class="card text-white bg-dark mt-3 mr-3" style="width: 100%; min-width: 18rem; min-height: 5rem">
        <div class="text-center card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
            <h5 class="card-title ml-3 mr-3 mb-1 text-center">SEARCH</h5>
        </div>
        <div class="card-body" style="padding: 0;">
            <p class="card-text text-center ml-4 mr-4" style="white-space: pre-wrap;">Search for any kind of project. Currently you can get results based on username, first or last name, project titles, project tags, and project descriptions.</p>
        </div>
        <div class="card-footer">
            <form action="" class="form mt-0" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.searchbar) }}
            <button type="submit" value="submit" href="{{ url_for('main.search') }}" class="btn pull-right btn-outline-light card-title ml-3 mr-3 mb-1 text-center text-white">SEARCH</button>
            </form>
        </div>
    </div>
{#    <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%; min-width: 18rem; min-height: 5rem">#}
{#        <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">#}
{#            <h5 class="card-title ml-3 mr-3 mb-1 text-center">SEARCH</h5>#}
{#        </div>#}
{#        <div class="card-body" style="padding: 0;">#}
{#            <p class="card-text text-center ml-4 mr-4" style="white-space: pre-wrap;">#}
{#                Below is a list of projects related to your search.#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#    <form action="" class=form method="POST">#}
{#    {{ form.hidden_tag() }}#}
{#    {{ render_field(form.searchbar) }}#}
{#    {{ render_submit_field(form.submit) }}#}
{#    </form>#}



    <div class="card-group mt-3 center-block" style="max-width: max-content;">

        {% for project in projects %}
            {{ render_card_given_privacy(project, project.creator, current_user) }}
        {% endfor %}

    </div>




{% endblock %}