{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% from "common/form_macros.html" import render_card, render_card_given_privacy %}

{% block content %}
    <div class="card text-white bg-dark mt-3 mb-3 mr-3" style="width: 100%; min-width: 18rem; min-height: 5rem">
        <div class="card-header mt-1 mb-1" style="padding: 0; padding-bottom: 0.25rem;">
            <h5 class="card-title ml-3 mr-3 mb-1 text-center">SPECIALIZED INTERESTS</h5>

        </div>
        <div class="card-body" style="padding: 0;">
            <p class="card-text text-center ml-4 mr-4 mb-1" style="white-space: pre-wrap;">Description: Below is a list of projects that are related to your list of specialized interests. Here's a list of your interests that we matched projects for:</p>
            <p class="card-text text-center ml-4 mr-4 mb-1 mt-1" style="white-space: pre-wrap;"> {{ tags_matched }} </p>


        </div>
{#        <div class="pull-right mr-3">#}
{#            <a href="/main/user_settings" class="btn text text-white bg-dark" style="padding: 0">Edit My Interests</a>#}
{#        </div>#}
        <a type="button" name="edit__interests_button" href="/main/user_settings" class="btn btn mb-1 ml-3 mr-3 text-dark bg-white">Edit My Specialization Interests</a>

    </div>

    <div class="card-group mt-3 center-block" style="max-width: max-content;">

        {% for project in projects %}
            {{ render_card_given_privacy(project, project.creator, current_user) }}
        {% endfor %}

    </div>


{% endblock %}