{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}
{% from "common/form_macros.html" import render_field, render_submit_field %}

{% block content %}

    <div class="card mt-3 bg-dark">
        <div class="container col-centered">
            <h2 class="text-white">{%trans%}Edit Your Info, Interests, and Account Settings{%endtrans%}</h2>

            <form action="" method="POST" class="form text-white" role="form">
                {{ form.hidden_tag() }}


                {{ render_field(form.first_name, tabindex=240) }}

                {{ render_field(form.last_name, tabindex=250) }}

                {{ render_field(form.bio, tabindex=240, style="min-height: 100px") }}

                {{ render_field(form.interests, tabindex=240, style="min-height: 100px") }}

                <button type="submit" value="Save" class="btn pull-right btn-outline-light card-title ml-3 mb-1 text-center text-white">SAVE CHANGES</button>



                <a type="button" href="{{ url_for('user.change_username') }}" class="btn pull-left btn-outline-light card-title mr-3 mb-1 text-center text-white">Change Username</a>
                <a type="button" href="{{ url_for('user.change_password') }}" class="btn pull-left btn-outline-light card-title mr-3 mb-1 text-center text-white">Change Password</a>

            </form>
        </div>
    </div>



{% endblock %}