{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<h1>Edit Your Account Settings and Info</h1>


{% from "common/form_macros.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
    {{ form.hidden_tag() }}


    {{ render_field(form.first_name, tabindex=240) }}

    {{ render_field(form.last_name, tabindex=250) }}

    {{ render_field(form.bio, tabindex=240, style="min-height: 100px") }}

    {{ render_field(form.interests, tabindex=240, style="min-height: 100px") }}

    {{ render_submit_field(form.submit, tabindex=280) }}

    <p class="mt-2"><a href="{{ url_for('user.change_username') }}">Change username</a></p>

    <p class="mt-2"><a href="{{ url_for('user.change_password') }}">Change password</a></p>

    </div>
  </div>
</form>



{% endblock %}